<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.break-screen</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/node</string>
        <string>/Users/arigatatsuya/Work/git/github.com/sk8metalme/break-screen/dist/index.js</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/arigatatsuya/Work/git/github.com/sk8metalme/break-screen/logs/output.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/arigatatsuya/Work/git/github.com/sk8metalme/break-screen/logs/error.log</string>

    <key>WorkingDirectory</key>
    <string>/Users/arigatatsuya/Work/git/github.com/sk8metalme/break-screen</string>
</dict>
</plist>
